<h1>New Article</h1>


<%= form_for :article, url: articles_path do |f| %>
  <p>
    <%= f.label :Title %>
    <%= f.text_field :Title %>
  </p>

  <p>
    <%= f.label :Text %>
    <%= f.text_area :Text %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
