<h1>Article</h1>

<p>Author: <%= @article.author.email %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<p>
  <strong>Tags:</strong>
  <% @article.tags.each do |tag| %>
  <%= '#' + tag.to_s + ' '%>
  <% end %>
</p>


<br>

<% if @like.persisted? %>
  <%= link_to 'Unlike', article_like_path(@article, @like),
  method: :delete,
  class: "btn btn-default" %>
<% else %>
  <%= form_for ([@article, @like]) do |f| %>
    <div class="form-group">
      <%= f.submit class: "btn btn-default"%>
    </div>
  <% end %>
<% end %>

<br>

<%= link_to 'Back', articles_path, class: "btn btn-default" %>


<h1>Comments</h1>

<% @article.comments.each do |comment| %>
  <%= render comment %>
<% end %>

<%= render 'comments/form' %>
